.gallery-container {
  /* background-color: violet; */
  background: url(../assets/umrah-bg3.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gallery-cards {
  width: 75%;
  /* background-color: royalblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 50px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gallery-card {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
