@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* All CSS styles for the component are defined in this file */

.top-container {
  width: 100%;
  /* height: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #783232; */
  padding: 30px;
}

.content-box {
  width: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  /* background-color: #002d36; */
  padding: 10px;
}

.top-card {
  /* width: 500px; */
  height: 390px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 2px solid red; */
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(114, 114, 114, 0.4);
}

.tourInfo {
  padding: 20px;
}

.description {
  font-size: 0.7rem;
  font-weight: 600;
  color: #2c2121;
}

.action-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
  /* position: absolute;
  top: 80px;
  left: 1000px; */
}

.action-btns button {
  height: 70px;
  width: 70px;
  font-size: 15px;
  font-weight: 500;
  color: #002d36;
  background-color: #79d5e8;
  border-radius: 50%;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btns button:hover {
  color: #ffffff;
  background-color: goldenrod;
}

.top-image {
  width: 280px;
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
