.container {
  /* background-color: red; */
  /* background: rgb(216, 195, 176);
  background: linear-gradient(
    90deg,
    rgba(216, 195, 176, 1) 0%,
    rgba(144, 111, 92, 1) 100%
  ); */
  background: url(../assets/umrah-bg2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  /* background-color: green; */
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
